name: insight cypress-tests

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20'

      - name: Install dependencies
        run: npm install

      - name: Unset variable (if needed)
        run: npm run unset

      - name: Create SSH key
        run: |
          echo "$SSH_PRIVATE_KEY" > AccumeticKey.pem
          chmod 600 AccumeticKey.pem
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Run Cypress Tests
        run: npx cypress run
        continue-on-error: true

      - name: Get backup filename
        id: get_name
        run: |
          BACKUP_NAME=$(ls cypress/fixtures/backups | grep .zip | sort | tail -n 1)
          echo "Latest backup: $BACKUP_NAME"
          echo "BACKUP_NAME=$BACKUP_NAME" >> $GITHUB_ENV

      - name: Upload dashboard backup to server
        run: |
          echo "Uploading $BACKUP_NAME to server..."
          scp -o StrictHostKeyChecking=no -i AccumeticKey.pem \
            cypress/fixtures/backups/$BACKUP_NAME \
            AccumeticUser@34.71.130.138:/home/AccumeticUser/cypress-backups/backups/

      - name: Remove files older than 7 days on server
        run: |
          ssh -o StrictHostKeyChecking=no -i AccumeticKey.pem \
            AccumeticUser@34.71.130.138 \
            'find /home/AccumeticUser/cypress-backups/backups -type f -mtime +7 -exec rm -f {} \;'
